<div class="connected">
    
    <h3>Join game</h3>
    
    <div class="gamelist">
        Loading games...
    </div>
    
    <div class="actions">
        <h3>Create game</h2>
        <form id="newGame">
            <div class="control-group">
                <label class="control-label" for="gameName">Game Name:</label>
                <div class="controls">
                    <input type="text" name="gameName" id="gameName"/>
                    <input type="submit" id="btnNewGame" value="Create"/>
                </div>
            </div>
        </form>
    </div>
    
</div>